<h3>Welcome back to the theme park!</h3><br>

<div class="info">

<% if current_user.admin? %>
  <p>ADMIN</p>
   
<% end %>

  <p><strong>Name: </strong><%= "#{current_user.name}" %></p>
  <p><strong>Tickets: </strong><%= "#{current_user.tickets}" %></p>
  <p><strong>Mood: </strong><%= "#{current_user.mood}" %></p>
  <p><strong>Height: </strong><%= "#{current_user.height}" %></p>
  
  <%= link_to "Edit", edit_user_path(current_user) %><br>
  <%= link_to "See attractions", attractions_path %>
 
  </div>